.ProductFilter {
    width: 20%;
    /* background-color: aqua; */
    /* margin-inline: auto; */
    padding-left: 16px;
}

.filterHeading {
    color: rgba(0, 0, 0, 1);
}

.genderList {
    padding-left: 16px;
}

.genderList li {
    position: relative;
}

.genderList li::before {
    content: "";
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.3);
    /* background: red; */
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: -15px;
}

.box {
    border-top: 0.5px solid rgba(0, 0, 0, 0.3);
    border-right: 0.5px solid rgba(0, 0, 0, 0.3);
    border-bottom: 0.5px solid rgba(0, 0, 0, 0.3);
}